/*___________________________ footer */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/*_______________________ sports main */
.mainSport{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: antiquewhite;
}