.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tw {
  color: rgb(18, 56, 105);
  font-family: 'Ceviche One', cursive;
  font-size: larger;
}
.home{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.categorie{
  height: 300px;
  width: 300px;
}
.categorie:hover{
  opacity: 50%;
  border: 5px solid black;
}
.subcategorie{
  width: 100%;
  height: 100%;
  padding-top: 25%;
  /* top:50%; */
  opacity: 0;
}
.categorie:hover .subcategorie{
  color: white;
  /* background-color: grey; */
  font-weight: bolder;
  font-size: x-large;
  opacity: 100%;
}
.sport{
  background-image: url('../public/images/sportHome.jpg');
  background-size:cover;
}
.industrie{
  background-image: url('../public/images/indusHome.jpg');
  background-size:cover;
}
.decoration{
  background-image: url('../public/images/decoHome.jpg');
  background-size:cover;
}