
/*_______________________ sports main */
.mainSport {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    height: 200px;
    box-shadow: 1px 5px 10px lightblue;
    margin-bottom:20px
  }
  .filterByType{
    width: 200px;
  }
  .sportCarousel{
    width: 100%;
  }
  .carouselimage {
    width : 300px;
    max-width: 300px;
    height: 200px;
  }
  .newsSport {
    height: auto;
    width: auto;
    overflow-y: scroll;
    overflow-x:hidden;
  }
  .matchDetails {
    border-bottom:1px solid black;
    margin: 2px;
  }
  .matchDetails p {
    padding: 0px;
    margin: 0px;
  }
  .matchDetails h6 {
    color: darkblue;
    margin-bottom: 2px;
  }
  
  /* sport Article */
  .sportArticle {
    margin: 20px;
    box-shadow: 2px 2px 2px gray;
    width: 200px;
  }
  .articleImage {
    height: 150px;
    box-shadow: 1px 1px 10px 1px rgb(146, 144, 255);
  }
  .articleImage:hover {
    transform: scale(105%);
  }
  
  /* -----------------sport.js */
  .sportList {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  